.container {
    background-color:  #0a141d;
    background-image: linear-gradient(to top, #270537, #380856, #470f77, #53189c, #5c23c3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: 0;
}